[user]
    name = Brandon Pugh
    email = bp@brandonpugh.com
[alias]
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit --date=local
    st = status
    s = status -s
    sh = stash
    co = checkout
    p = !git fetch && git pull --ff-only
    pf = pull --ff-only
    pr = pull --rebase
    rmo = remote -v
    ct = commit
    cta = commit -a
    br = branch
    rsh = reset --hard
    cl = clean -dx -e 'local.my.yaml'
    su = submodule update

    #from gf3 github
    ci = commit
    df = diff
    lg = log -p
    lol = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    pb = publish-branch
    pp = "!echo 'Pull'; git pull; echo 'Push'; git push"
    rb = rbranch
    rc = rank-contributors
    rv = review
    sm = show-merges
    stand = !"git log --reverse --branches --since=$(if [[ "Mon" == "$(date +%a)" ]]; then echo "last friday"; else echo "yesterday"; fi) --author=$(git config --get user.email) --format=format:'%C(cyan) %ad %C(yellow)%h %Creset %s %Cgreen%d' --date=local"

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[core]
    autocrlf = true
    excludesfile = ~/.gitignore_global
[credential]
[diff]
    tool = bc3
[difftool "bc3"]
    path = c:/program files (x86)/beyond compare 3/bcomp.exe
[merge]
    tool = bc3
[mergetool "bc3"]
    path = c:/program files (x86)/beyond compare 3/bcomp.exe
[branch]
    autosetuprebase = always
[push]
    default = upstream
